@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply font-montserrat;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer utilities {
  .scrollbar-transparent::-webkit-scrollbar {
    width: 0px;
  }
  .scrollbar-transparent::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .scrollbar-transparent::-webkit-scrollbar-track {
    background: transparent;
  }
}

#scrollable-content::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

#scrollable-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); /* Transparent scrollbar */
  border-radius: 4px;
}

#scrollable-content::-webkit-scrollbar-track {
  background: transparent;
}

#scrollable-content::-webkit-scrollbar-track {
  background: transparent;
}

.glow {
  box-shadow: 0 0 8px 2px rgba(11, 233, 92, 0.8);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 8px 1px rgba(26, 228, 100, 0.8);
  }
  50% {
    box-shadow: 0 0 12px 2px rgba(24, 201, 89, 0.5);
  }
  100% {
    box-shadow: 0 0 8px 1px rgba(21, 214, 92, 0.8);
  }
}
